@import 'mixins';

article.post.short {
  margin-bottom: 4rem;

  h2 {
    @include highlight-border-top;
    margin-bottom: 0;
  }

  &:first-child h2, &:first-child h2 span {
    border: none;
  }

  time {
    text-align: left;
    margin-bottom: 0;
  }
}
