@charset "utf-8";
@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #101F2D;
}

a {
  color: #348080;
  text-decoration: none;

  &:hover {
    color: #EF3124;
  }
}

article {
  p {
    text-align: justify;
  }

  h1 {
    margin: 3rem 0 0 0;
    font-size: 3rem;
    text-align: center;
  }

  time {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
}

h1, h2 {
  font-family: 'Rockwell Bold', Rockwell, serif;
  font-weight: normal;
}

section h1 {
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 3rem -2rem 1rem -2rem;
  padding: 0 2rem 1rem 1rem;

  @include highlight-border-top;
}

header {
  background: url(/images/header.jpg) no-repeat 50% 60%;
  background-size: cover;
  border-bottom: 5px solid #101F2D;
  padding-bottom: .5rem;
  position: relative;

  a:hover {
    color: #348080;
  }

  h1 {
    background: url(/images/logo.png) no-repeat center 115%;
    background-size: 125%;
    min-height: 600px;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 250px;
  }

  nav {
    position: absolute;
    font-size: .7rem;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.85);
    border-bottom: 1px solid lighten(#348080, 50%);
    text-transform: uppercase;

    ul {
      list-style: none;
      margin: 0 auto -2px auto;
      width: 1000px;
      text-align: center;
    }

    li {
      display: inline-block;
      margin: 0 1rem;
      padding: 1rem 0;

      a {
        text-decoration: none;
        color: #666;
      }

      &.current {
        border-bottom: 2px solid lighten(#348080, 15%);
        font-weight: bold;

        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}

footer {
  background: #101F2D;
  color: #fff;
  padding: .5rem 1rem;
  font-size: .75rem;

  p {
    margin: 0 auto;
    width: 940px;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}

#columns {
  background: #fff;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  width: 1000px;

  > article, > .landing {
    padding: 1rem 2rem;
    width: 100%;
  }

  > aside {
    width: 350px;
    padding: 0 1rem;
  }
}

article, aside {
  img {
    max-width: 100%;
  }

  p {
    line-height: 1.5rem;
  }
}

.badge {
  background: #ccc;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: .5rem;
  line-height: .6rem;
  padding: .1rem .25rem .2rem .25rem;
}

time {
  font-size: .8rem;
  color: #777;
}

@import 'blog';
@import 'bouts';
@import 'sidebar';
@import 'player';
@import 'teams';
@import 'landing';
