@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #101F2D;
}

a {
  color: #348080;
  text-decoration: none;

  &:hover {
    color: #EF3124;
  }
}

h1, h2 {
  font-family: 'Rockwell Bold', Rockwell, serif;
  font-weight: normal;
}

header {
  background: linear-gradient(rgba(76,174,181,.7), rgba(76,174,181,.7)),
    url(http://subtlepatterns.com/patterns/subtle_white_mini_waves.png);
  border-bottom: 5px solid #101F2D;
  padding-bottom: .5rem;
  position: relative;

  a:hover {
    color: #348080;
  }

  h1 {
    background: url(/images/logo.png) no-repeat center center;
    background-size: 125%;
    height: 218px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 250px;
  }

  nav {
    font-family: 'Rockwell Bold', Rockwell, serif;
    font-size: 1.2rem;
    margin: -6rem auto 0 auto;
    width: 1000px;

    a {
      text-decoration: none;
      color: #fff;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: .5em 0;
    }

    li {
      display: inline-block;
      margin: 0 1rem;

      &:nth-child(3) {
        margin-right: 14rem;
      }
    }
  }
}

footer {
  background: #101F2D;
  color: #fff;
  padding: .5rem 1rem;
  font-size: .75rem;
  
  p {
    margin: 0 auto;
    width: 940px;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}

#columns {
  background: #fff;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  width: 1000px;

  > article {
    padding: 1rem 2rem;
    width: 100%;
  }

  > aside {
    width: 350px;
    padding: 1rem 2rem;
    background: #DFEEEF;
  }
}

article, aside {
  img {
    max-width: 100%;
  }

  p {
    line-height: 1.5rem;
  }
}

aside .sponsors {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  
    li {
      margin-bottom: 1rem;
    }
  }
}

.badge {
  background: #ccc;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: .5rem;
  line-height: .6rem;
  padding: .1rem .25rem .2rem .25rem;
}

@import 'bouts';
