article.post {
  h2 {
    margin: 0;
  }
  
  p {
    text-align: justify;
  }
}

article.post.alone {
  h2 {
    margin: 4rem 0 0 0;
    font-size: 3rem;
    text-align: center;
  }

  time {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
}

article.post.short {
  margin-bottom: 4rem;

  h2 {
    border-top: 1px solid lighten(#348080, 50%);

    span {
      border-top: 1px solid lighten(#348080, 15%);
      display: inline-block;
      padding-top: .75rem;
      margin-top: -1px;
    }
  }

  &:first-child h2, &:first-child h2 span {
    border: none;
  }
}
