@import 'mixins';

.bout {
  .scoreboard {
    align-items: center;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    min-height: 8rem;

    .when {
      padding: .5rem;
      text-align: center;
      width: 33%;

      time {
        font-size: 2rem;
      }
    }

    .team {
      line-height: 1.2rem;
      margin: .5rem 1rem 0 1rem;
      position: relative;
      width: 50%;
      min-height: 8rem;

      span {
        background: #000;
        color: #FFF;
        display: inline-block;
        padding: .25rem 1rem;
        margin-top: 3rem;
      }

      img {
        position: absolute;
        top: 0;
        width: 8rem;
      }

      p {
        display: inline-block;
        font-size: 2rem;
        font-weight: 300;
        margin: -5px 0 0 0;
        padding: 0 5px;
        vertical-align: middle;

        strong {
          display: none;
        }
      }

      &.winner {
        span {
          background: green;
        }

        p {
          color: green;
        }
      }

      &.loser {
        span {
          background: maroon;
        }

        p {
          color: maroon;
        }
      }

      &:first-child span {
        margin-left: 1rem;
        padding-left: 8rem;
      }

      &:last-child {
        span {
          margin-right: 1rem;
          padding-right: 8rem;
        }

        img {
          right: 0;
        }
      }
    }
  }

  .venue {
    margin-top: 1rem;

    h2 {
      margin: 0 -1rem;
      padding: 0 1rem;
      @include highlight-border-top;
    }

    .map {
      height: 300px;
    }
  }
}

.bouts {
  list-style: none;
  padding: 0;

  article.bout-list & {
    margin: 3rem auto 0 auto;
    display: flex;
    flex-wrap: wrap;

    li {
      flex-grow: 1;
      margin: 0 2rem 2rem 2rem;
      max-width: 15.75rem;
    }
  }

  time {
    margin: 0;
  }

  .meta {
    margin-top: 0;
  }

  h2 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
  }

  li {
    width: 240px;
    text-align: center;
    position: relative;
    padding: 0 1.25px;
    margin: 0 1rem 2rem 1rem;

    img {
      width: 2.75rem;
      position: absolute;
      top: 0;
    }

    img.them {
      left: 0;
    }

    img.us {
      right: 0;
    }
  }
}
