@import 'mixins';

.bout {
  .scoreboard {
    align-items: center;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    min-height: 8rem;

    .when {
      padding: .5rem;
      text-align: center;
      width: 33%;

      time {
        font-size: 2rem;
      }
    }

    .team {
      line-height: 1.2rem;
      margin: .5rem 1rem 0 1rem;
      position: relative;
      width: 50%;
      min-height: 8rem;

      span {
        background: #000;
        color: #FFF;
        display: inline-block;
        padding: .25rem 1rem;
        margin-top: 3rem;
      }

      img {
        position: absolute;
        top: 0;
        width: 8rem;
      }

      p {
        display: inline-block;
        font-size: 2rem;
        font-weight: 300;
        margin: -5px 0 0 0;
        padding: 0 5px;
        vertical-align: middle;

        strong {
          display: none;
        }
      }

      &.winner {
        span {
          background: green;
        }

        p {
          color: green;
        }
      }

      &.loser {
        span {
          background: maroon;
        }

        p {
          color: maroon;
        }
      }

      &:first-child span {
        margin-left: 1rem;
        padding-left: 8rem;
      }

      &:last-child {
        span {
          margin-right: 1rem;
          padding-right: 8rem;
        }

        img {
          right: 0;
        }
      }
    }
  }

  .venue {
    margin-top: 1rem;

    h2 {
      margin: 0 -1rem;
      padding: 0 1rem;
      @include highlight-border-top;
    }

    .map {
      height: 300px;
    }
  }
}

.bouts {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 1rem;

    &.future:before {
      content: 'Upcoming: ';
      font-weight: bold;
    }
  }

  .won {
    background: green;
  }

  .lost {
    background: maroon;
  }

  p.meta {
    color: #777;
    display: block;
    font-size: .8rem;
    margin: 0;
  }

  .scores {
    font-size: .8rem;
    margin: 0;

    strong {
      font-weight: normal;
    }
  }
}
