article .years {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 .5rem;

    &.current a {
      color: #000;
      text-decoration: underline;
    }
  }
}

article .lineup {
  list-style: none;
  padding: 0;
  margin: 2rem 0 0;
  display: flex;
  flex-wrap: wrap;

  li {
    width: 50%;
  }

  h2 {
    font-size: 1rem;
    margin: 0;
    padding: 0 .25rem;
  }

  a {
    color: inherit;
    padding: 13px 0 0 60px;
    margin: 0 1rem;
    position: relative;
    height: 60px;
    display: block;
  }

  span.number {
    float: right;
  }

  em.role {
    display: block;
    color: #999;
    font-size: .75rem;
    font-style: normal;
  }

  .photo-circle {
    margin-top: .25rem;
    border-radius: 100px;
    overflow: hidden;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
  }
}
