<% wrap_layout :outside do %>
  <article>
    <%= yield %>
  </article>
  <aside>
    <h2>Sponsors</h2>
    <a href="http://www.thesandshotel.com.au/">
      <img src="http://www.nbrg.com.au/wp-content/uploads/2014/11/thesands.png" />
      Narrabeen Sands Hotel
    </a>
  </aside>
<% end %>
