<% wrap_layout :outside do %>
  <article>
    <%= yield %>
  </article>
  <aside class="sidebar">
    <section class="upcoming">
      <h2>Up next</h2>
      <ul class="bouts">
        <% upcoming_bouts.each do |bout| %>
          <li><%= partial 'bouts/sidebar', locals: { bout: bout } %></li>
        <% end %>
      </ul>
    </section>
    <section class="sponsors">
      <h2>Sponsors</h2>
      <ul>
        <% data.sponsors.select(&:sidebar).each do |sponsor| %>
          <li>
            <a href="<%= sponsor.url %>">
              <img src="/images/sponsors/<%= sponsor.logo %>" />
            </a>
          </li>
        <% end %>
      </ul>
    </section>
  </aside>
  <script type="text/javascript">
    NBRG.sidebar()
  </script>
<% end %>
