<% wrap_layout :outside do %>
  <article>
    <%= yield %>
  </article>
  <aside>
    <section class="sponsors">
      <h2>Sponsors</h2>
      <ul>
        <% data.sponsors.select(&:sidebar).each do |sponsor| %>
          <li>
            <a href="<%= sponsor.url %>">
              <img src="/images/sponsors/<%= sponsor.logo %>" />
            </a>
          </li>
        <% end %>
      </ul>
    </section>
  </aside>
<% end %>
