<h1><%= tournament.name %></h1>
<p>
  From <%= date_tag tournament.from %> to <%= date_tag tournament.to %>.
</p>
<h3>Bouts</h3>
<ul class="bouts">
  <% bouts_for_tournament(tournament).each do |bout| %>
    <li><%= partial 'bouts/short', locals: { bout: bout } %></li>
  <% end %>
</ul>
