<h3><a href="/bouts/<%= bout.slug %>"><%= data.leagues[bout.against].nickname %> vs. NBRG</a></h3>
<img class="them" src="/images/leagues/<%= data.leagues[bout.against].nickname.downcase %>.png" alt="" />
<img class="us" src="/images/leagues/nbrg.png" alt="" />
<p class="meta">
  <%= datetime_tag bout.datetime %>
</p>
