<% against = data.website.league[bout.against.id] %>
<h2><a href="/bouts/<%= bout.slug %>"><%= against.nickname %> vs. NBRG</a></h2>
<img class="them" src="/images/leagues/<%= against.nickname.downcase %>.png" alt="" width="44" />
<img class="us" src="/images/leagues/nbrg.png" alt="" width="44" />
<%= datetime_tag bout.datetime %>
