<section class="social">
  <h1><span>Social Media</span></h1>
  <ul>
    <li><a href="https://www.facebook.com/NorthernBeachesRollerGirls" title="NorthernBeachesRollerGirls on Facebook"><img src="/images/facebook.png" height="32" width="32" alt=""></a></li>
    <li><a href="http://instagram.com/northernbeachesrollergirls?ref=badge" title="northernbeachesrollergirls on Instagram"><img src="/images/instagram.png" height="32" width="32" alt=""></a></li>
    <li><a href="https://twitter.com/nbrollers" title="@nbrollers on Twitter"><img src="/images/twitter.png" width="32" height="32" alt=""></a></li>
    <li><a href="https://www.youtube.com/channel/UCmMCLP7QMMXaBYKTwElg1KQ" title="YouTube"><img src="/images/youtube.png" width="32" height="32" alt=""></a></li>
  </ul>
</section>
