<section class="sponsors">
  <h1><span>Sponsors</span></h1>
  <ul>
    <% data.website.sponsor.values.select(&:sidebar).sort_by(&:name).each do |sponsor| %>
      <li>
        <a href="<%= sponsor.url %>">
          <img src="<%= sponsor.logo.url %>" width="204" />
        </a>
      </li>
    <% end %>
  </ul>
</section>
