<section class="sponsors">
  <h1><span>Sponsors</span></h1>
  <ul>
    <% data.sponsors.select(&:sidebar).each do |sponsor| %>
      <li>
        <a href="<%= sponsor.url %>">
          <img src="/images/sponsors/<%= sponsor.logo %>" width="204" />
        </a>
      </li>
    <% end %>
  </ul>
</section>
