<div class="landing">
  <section class="upcoming" data-hide-none=".bouts li">
    <h1><span>Up next</span></h1>
    <ul class="bouts">
      <% upcoming_bouts.each do |bout| %>
        <li data-hide-if="datePast"><%= partial 'bouts/sidebar', locals: { bout: bout } %></li>
      <% end %>
    </ul>
  </section>
</div>
