---
article_class: training
title: Training with NBRG
---
# Training with NBRG

<table class="calendar">
  <thead>
    <tr>
      <th />
      <th><span>Mon</span></th>
      <th><span>Tue</span></th>
      <th><span>Wed</span></th>
      <th><span>Thu</span></th>
      <th><span>Fri</span></th>
      <th><span>Sat</span></th>
      <th><span>Sun</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Morning</th>
      <td />
      <td />
      <td />
      <td />
      <td />
      <td />
      <td class="fresh"><span>Free Skate</span></td>
    </tr>
    <tr>
      <th>Afternoon</th>
      <td />
      <td />
      <td />
      <td />
      <td />
      <td />
      <td class="intermediate"><span>Scrimmage</span></td>
    </tr>
    <tr>
      <th>Evening</th>
      <td class="intermediate"><span>Intermediate</span></td>
      <td />
      <td class="advanced"><span>Advanced</span></td>
      <td />
      <td class="fresh"><span>Fresh Meat</span></td>
      <td />
      <td />
    </tr>
  </tbody>
</table>

The NBRG training schedule is split into three levels:

  * <strong class="fresh">Fresh Meat</strong> train on a Friday evening, and can attend the Sunday morning Free Skate. Fresh skaters are people who've never skated before--or only recently returned to skating--and are working towards passing their [Roller Derby Minimum Skills](http://wftda.com/resources#training).
  * <strong class="intermediate">Intermediate</strong> are skaters who have passed their Minimum Skills and are preparing for bouts or scrimmages.  Intermediate skaters should attend the Sunday morning Free Skate and will be invited to Sunday afternoon Scrimmage when they are ready.
  * <strong class="advanced">Advanced</strong> are skaters who are learning strategy and skills, and are already bout ready. Advanced skaters should attend the Sunday afternoon Scrimmage, and are expected to join the Intermediate sessions.

## How much time does training take?

Roller Derby may become all consuming of your time--if you want it to--but it doesn't start like that.

If you are new to skating or Roller Derby, Fresh Meat is where you'll spend the first part of your Derby career. Fresh Meat is one evening a week with an optional Sunday morning session, that's a time committment of 2-4 hours a week for beginners.

The more advanced you become, the more sessions you should attend; obviously, that means more time but by this point you'd be the one choosing to do more because you enjoy it. Once you advance beyond Fresh Meat you'll be subject to our attendance policy, which is attending 60% of training sessions, before you'll be considered ready for bouting.

We're a flexible league, so if you're interested in learning more but aren't sure you can make certain nights we're still happy to talk about your options. Please drop us an email at [join@nbrg.com.au](mailto:join@nbrg.com.au).
