---
article_class: training
title: Training with NBRG
---
# Training with NBRG

<table class="calendar">
  <thead>
    <tr>
      <th />
      <th><span>Mon</span></th>
      <th><span>Tue</span></th>
      <th><span>Wed</span></th>
      <th><span>Thu</span></th>
      <th><span>Fri</span></th>
      <th><span>Sat</span></th>
      <th><span>Sun</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Morning</th>
      <td />
      <td />
      <td />
      <td />
      <td />
      <td />
      <td class="fresh"><span>Free Skate</span></td>
    </tr>
    <tr>
      <th>Afternoon</th>
      <td />
      <td />
      <td />
      <td />
      <td />
      <td />
      <td class="intermediate"><span>Scrimmage</span></td>
    </tr>
    <tr>
      <th>Evening</th>
      <td class="intermediate"><span>Intermediate</span></td>
      <td />
      <td class="advanced"><span>Advanced</span></td>
      <td />
      <td class="fresh"><span>Fresh Meat</span></td>
      <td />
      <td />
    </tr>
  </tbody>
</table>

The NBRG training schedule is split into three levels:

  * <strong class="fresh">Fresh Meat</strong> this is for people who've never skated before or are new to Roller Derby. Fresh Meat train on a Friday evening and can also attend Sunday morning sessions, which are often free skate sessions. Fresh Meat are primarily working towards passing their [Roller Derby Minimum Skills](http://wftda.com/resources#training).

  * <strong class="intermediate">Intermediate</strong> These skaters have passed their [Roller Derby Minimum Skills](http://wftda.com/resources#training) and are working towards playing their first games of roller derby in either a bout or a scrimmage. Intermediate skaters can attend Sunday morning sessions as well as the intermediate training sessions, this gives them access to 2 skating sessions per week. Once they progress they will be invited to join the advanced training sessions.

  * <strong class="advanced">Advanced</strong> these skaters have passed their Roller Derby minimum skills and are ready to play in bouts and/or scrimmages or have already played. Advanced sessions focus more on the game of Roller Derby including strategy and rules along with advanced skating skills. Advanced skaters can attend the Sunday free skate sessions, the intermediate training sessions and the advanced training sessions, along with scrimmaging on Sundays, this is either against ourselves or against other leagues.

<%= photograph '5x5-round-1-cropped.jpg' %>

## How much time does training take?

Training sessions are usually 2 hours long but in general Roller Derby can sometimes take up a lot of your time, however you can choose to commit to a level that suits you personally. When you first start, i.e. when you are in Fresh Meat, the realistic time commitment per week is 2-4 hours made up over 1-2 days.

Please bear in mind the more you advance the more time commitment you will realistically need to make, however this again will be a personal choice as to how much you can commit and therefore advance, we currently have a variety of skaters with a range of personal commitments outside of Roller Derby including work and children and they have all found a system that suits them.

We're a flexible league, so if you're interested in learning more but aren't sure you can make certain nights we're still happy to talk about your options. Please drop us an email at [join@nbrg.com.au](mailto:join@nbrg.com.au).
