# Training with NBRG

<table class="calendar">
  <thead>
    <tr>
      <th />
      <th><span>Mon</span></th>
      <th><span>Tue</span></th>
      <th><span>Wed</span></th>
      <th><span>Thu</span></th>
      <th><span>Fri</span></th>
      <th><span>Sat</span></th>
      <th><span>Sun</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Morning</th>
      <td />
      <td />
      <td />
      <td />
      <td />
      <td />
      <td class="event"><span>Free Skate</span></td>
    </tr>
    <tr>
      <th>Afternoon</th>
      <td />
      <td />
      <td />
      <td />
      <td />
      <td />
      <td class="event"><span>Scrimmage</span></td>
    </tr>
    <tr>
      <th>Evening</th>
      <td class="event"><span>Intermediate</span></td>
      <td />
      <td class="event"><span>Advanced</span></td>
      <td />
      <td class="event"><span>Fresh Meat</span></td>
      <td />
      <td />
    </tr>
  </tbody>
</table>
